  <footer>
    <div class="row">
      <center>Made with <span class="entypo-heart-empty"></span> by the best team at MakerSquare</center>
    </div>
  </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://designshack.net/tutorialexamples/html5-autocomplete-suggestions/js/jquery.autocomplete.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation/foundation.tooltip.min.js" type="text/javascript"></script>
    <script src="http://fb.me/react-0.11.1.js"></script>
    <script>
      $(function(){
        $(document).foundation();    
      });
    </script>
    <%= "<script src=\"/#{@home}\"></script>" if @home %>
    <%= "<script src=\"/#{@js}\"></script>" if @js %>
    <%= "<script src=\"/#{@audio}\"></script>" if @audio %>
    <script type="text/javascript">
        var fillWindow = function(){
          var bodyHeight = ($('#main-content').innerHeight() + 25 + $('header').height());
          var windowHeight = $(window).height();
          if (bodyHeight < windowHeight){
            var difference = (windowHeight - bodyHeight);
            $('#main-content').css({'padding-bottom':  difference});
          };
        };
        $(window).on('resize',fillWindow);
        window.fillWindow();
    </script>
    <% if @all_players %>
    <script>
      $(function(){
        var players = [
            <% @all_players.each do |player| %> 
            { value: '<%= player['username'] %>', data: '<%= player['id'] %>' },
            <% end %>
        ];
        
        // setup autocomplete function pulling from currencies[] array
        $('#autocomplete').autocomplete({
          lookup: players
        });
      });
    </script>
    <% end %>
  </body>
</html>