<div id="activematches" class="content active">
  <h2>Active Matches</h2>
  <% if @active_matches%>
    <% count = 1 %>
    <table>
      <tr>
        <th>Play</th>
        <th>Match</th>
        <th>Opponent</th>
        <th>Game 1</th>
        <th>Game 2</th>
        <th>Game 3</th>
        <th>Game 4</th>
        <th>Game 5</th>
      </tr>
    <% @active_matches.each do |match| %>
      <tr>
      <% if match['status'] == 'active' %>
        <td><a href="/play/<%= match['id'] %>"><span class="entypo-right-circled"></span></a></td>
        <td><%= count %></td>
        <td><% if @current_player != RPS.dbi.get_player_by_id(match['player2']).username %>
              <%= RPS.dbi.get_player_by_id(match['player2']).username %>
            <% else %>
              <%= RPS.dbi.get_player_by_id(match['player1']).username %>
            <% end %>
        </td>
        <% games = RPS.dbi.games_by_match(match['id']) %>
        <%= games.values %>
        <% games.each do |game| %>
          <% if game['winner'] %>
          <td><%= RPS.dbi.get_player_by_id(game['winner']).username %> won!</td>
          <% else %>
          <td>--</td>
          <% end %>
        <% end %>
        <!-- pass game_id to play page (game_id can reference match for player)

        play does not change anything in the database in this view
          it merely brings the player to the play page, which will either
          display that the game is awaiting a move selection from the opponent, or that it is the player's turn to act
         -->
        <% count += 1 %>
      <% end %>
      </tr>
    <% end %>
    </table>
  <% else %>
    <strong>You don't have any active matches.</strong>
  <% end %>
</div>