<div id="completed" class="content">
  <h2>Completed Matches</h2>
  <% if @completed_matches.is_a?(Array) %>
    <% comp_count = 1 %>
    <table>
      <tr>
        <th>Match</th>
        <th>Opponent</th>
        <th>Winner</th>
        <th>Game 1</th>
        <th>Game 2</th>
        <th>Game 3</th>
        <th>Game 4</th>
        <th>Game 5</th>
      </tr>
    <% @completed_matches.each do |match| %>
      <tr>
      <% if match['status'] == 'completed' %>
        <td><%= comp_count %></td>
        <td><% if @current_player != RPS.dbi.get_player_by_id(match['player2']).username %>
              <%= RPS.dbi.get_player_by_id(match['player2']).username %>
            <% else %>
              <%= RPS.dbi.get_player_by_id(match['player1']).username %>
            <% end %>
        </td>
        <td><strong><%= RPS.dbi.get_player_by_id(match['winner']).username %></strong></td>
        <% games = RPS.dbi.games_by_match(match['id']).sort {|b,a| a['id'].to_i <=> b['id'].to_i} %>
        <% games.each do |game| %>
          <% if game['winner'] %>
          <td><%= RPS.dbi.get_player_by_id(game['winner']).username %> won!</td>
          <% else %>
          <td>--</td>
          <% end %>
        <% end %>
      <% end %>
      </tr>
      <% comp_count += 1 %>
    <% end %>
    </table>
  <% else %>
    <strong>You don't have any completed matches.</strong>
  <% end %>
</div>