<div id="main-content">
  <div class="row full-width">
    <ul class="tabs vertical" data-tab>
      <li class="tab-title active"><a href="#activematches">Active Matches</a></li>
      <li class="tab-title"><a href="#completed">Completed Matches</a></li>
      <li class="tab-title"><a href="#pending">Pending Matches</a></li>
    </ul>

    <div class="tabs-content vertical match-table">
      <div id="activematches" class="content active">
        <h2>Active Matches</h2>
        <% if @active_matches.first.is_a?(Hash)%>
          <table>
            <tr>
              <th>Match Name</th>
              <th>Opponent</th>
              <th>Status</th>
              <th>Game 1</th>
              <th>Game 2</th>
              <th>Game 3</th>
              <th>Game 4</th>
              <th>Game 5</th>
            </tr>
          <% @active_matches.each do |match| %>
            <tr>
            <% if match['status'] == 'active' %>
              <td><%= match['id'] %></td>
              <td><%= RPS.dbi.get_player_by_id(match['player2']).username %></td>
              <td><%= match['status']%></td>
            <% end %>
            </tr>
          <% end %>
          </table>
        <% else %>
          <strong>You don't have any active matches.</strong>
        <% end %>
      </div>
      <div id="completed" class="content">
        <h2>Completed Matches</h2>
        <% if @completed_matches.is_a?(Array) %>
          <table>
            <tr>
              <th>Match Name</th>
              <th>Opponent</th>
              <th>Status</th>
              <th>Game 1</th>
              <th>Game 2</th>
              <th>Game 3</th>
              <th>Game 4</th>
              <th>Game 5</th>
            </tr>
          <% @completed_matches.each do |match| %>
            <tr>
            <% if match['status'] == 'complete' %>
              <td><%= match['id'] %></td>
              <td><%= RPS.dbi.get_player_by_id(match['player2']).username %></td>
              <td><%= match['status']%></td>
            <% end %>
            </tr>
          <% end %>
          </table>
        <% else %>
          <strong>You don't have any completed matches.</strong>
        <% end %>
      </div>
      <div id="pending" class="content">
        <h2>Pending Matches</h2>
        <% if @pending_matches %>
          <%= puts @pending_matches.is_a?(Array) %>
          <table>
            <tr>
              <th>Match Name</th>
              <th>Opponent</th>
              <th>Status</th>
            </tr>
          <% @pending_matches.each do |match| %>
            <tr>
            <% if match['status'] == 'pending' %>
              <td><%= match['id'] %></td>
              <td><%= RPS.dbi.get_player_by_id(match['player2']).username %></td>
              <td><%= match['status']%></td>
            <% end %>
            </tr>
          <% end %>
          </table>
        <% else %>
          <strong>You don't have any pending matches.</strong>
        <% end %>
      </div>
      <center><button id="showBottom" class="round">Invite a friend to a new game</button></center>
    </div>
  </div>
</div>
<div class="cbp-spmenu-push">
  <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
    <h3>Invite</h3>
    <form action='/matches' method='post'>
      <input type="text" id="autocomplete" placeholder="user to invite" name="invitee" />
      <button class="round" type="submit" name="submit">Send Invitation</button>

    </form>
  </nav>
</div>