<% @invite_count = 0 %>
<% @pending_matches.each do |match| %>
  <% if @current_player != RPS.dbi.get_player_by_id(match['player1']).username %>
    <% @invite_count += 1 %>
  <% end %>
<% end %>
<div id="main-content">
  <div class="row full-width">
    <ul class="tabs vertical" data-tab>
      <li class="tab-title active"><a href="#activematches">Active Matches</a></li>
      <li class="tab-title"><a href="#completed">Completed Matches</a></li>
      <li class="tab-title"><a href="#pending">Pending Matches</a></li>
      <li class="tab-title"><a href="#invites">(<%= @invite_count %>) Invites</a></li>
    </ul>

    <div class="tabs-content vertical match-table">
      <%= erb :active_matches %>
      <%= erb :completed_matches %>
      <%= erb :pending_matches %>
      <%= erb :invite %>
      <center><button id="showBottom" class="round">Invite a friend to a new game</button></center>
    </div>
  </div>
</div>
<div class="cbp-spmenu-push">
  <nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
    <h3>Invite</h3>
    <form action='/matches' method='post'>
      <input type="text" id="autocomplete" placeholder="user to invite" name="invitee" />
      <button class="round" type="submit" name="submit">Send Invitation</button>

    </form>
  </nav>
</div>